global:
  scrape_interval: 60s
  evaluation_interval: 15s  # How often to evaluate alert rules (default: 1m)

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"] 
  - job_name: node-exporter
    static_configs:
      - targets:
          - 'node-exporter:9100'

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: [ 'alertmanager:9093' ]

# Alert rules files
rule_files:
  - "/etc/prometheus/rules/*.yml"  # Load all .yml files in the rules directory